on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: build
jobs:
  # build, test all supported targets
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: dtolnay/rust-toolchain@a54c7afa936fefeb4456b2dd8068152669aa8203 # master
        with:
          toolchain: nightly
          target:  x86_64-unknown-linux-musl
      - run: cargo build --release

